Trigger Switches/flows/Set_Rating_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Rating</name>
        <label>Set Rating</label>
        <locationX>654</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RatingFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Trigger_Active_Flag</name>
        <label>Check Trigger Active Flag</label>
        <locationX>381</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Switch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Switch.Active_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating</targetReference>
            </connector>
            <label>Trigger Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>RatingFormula</name>
        <dataType>String</dataType>
        <expression>IF ( {!$Record.AnnualRevenue} &gt; 1000000, &apos;Hot&apos;, 
   IF ({!$Record.AnnualRevenue} &gt; 100000, &apos;Warm&apos;, 
      &apos;Cold&apos; ) )</expression>
    </formulas>
    <interviewLabel>Set Rating Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Rating Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trigger_Switch</name>
        <label>Get Trigger Switch</label>
        <locationX>176</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Trigger_Active_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TriggerSwitches__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Trigger_Switch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
