Trigger Switches/flows/Test_Switch_Using_Apex_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Trigger</name>
        <label>Check Trigger</label>
        <locationX>577</locationX>
        <locationY>197</locationY>
        <actionName>CheckTriggerSwitch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Queries</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>activeFlag</assignToReference>
            <name>activeFlag</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Queries</name>
        <label>Get Queries</label>
        <locationX>576</locationX>
        <locationY>326</locationY>
        <actionName>GetGovernorLimits</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Rows</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>limitName</name>
            <value>
                <elementReference>QUERYLIMIT</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>limitQueryValue</assignToReference>
            <name>limitValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Rows</name>
        <label>Get Rows</label>
        <locationX>576</locationX>
        <locationY>446</locationY>
        <actionName>GetGovernorLimits</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Limits</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>limitName</name>
            <value>
                <elementReference>QUERYROWLIMIT</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>limitQueryRowsValue</assignToReference>
            <name>limitValue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>QUERYLIMIT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QUERIES</stringValue>
        </value>
    </constants>
    <constants>
        <name>QUERYROWLIMIT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QUERYROWS</stringValue>
        </value>
    </constants>
    <interviewLabel>Test Switch Using Apex Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Switch Using Apex Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Limits</name>
        <label>Show Limits</label>
        <locationX>576</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GovLimitValue</name>
            <fieldText>&lt;p&gt;Active Flag: {!activeFlag},&lt;/p&gt;&lt;p&gt;Number of queries {!limitQueryValue}, Number of rows {!limitQueryRowsValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>450</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Trigger</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>activeFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>limitQueryRowsValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>limitQueryValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
